body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}

h1, h2, h3 {
    text-align: center;
}

#cinema {
    margin-bottom: 0px;
    font-size: 20px;
}

h1 {
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 10px ;
    color: firebrick;
}

hr {
    border-top: 2px solid firebrick;
    margin-bottom: 5%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    margin: 2px;
}

li a {
    text-align: center;
    padding: 32px;
    text-decoration: none;
    background-color: #333333;
    color: white;
    display: inline-block;
    border: solid;
}

li a:hover {
    background-color: black;
}

main {
    text-align: center;
}

.chapter {
    color: white;
    background-color: cadetblue;
    text-align: left;
    padding: 30px;
    margin: 10px;
}

.box {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    border: 1px;
    border-style: solid;
}

.movie-list {
    color: white;
    background-color: cadetblue;
    text-align: left;
    padding: 30px;
    margin: 10px;
    height: 140px;
    overflow: scroll;
}

.poster {
    width: 290px;
    height: 430px;
}

.small-poster {
    width: 93px;
    height: 133px;
   float: left;
   padding-right: 10px;
   margin: auto;
}

.description {
    width: 80%;
    height: 100px;
margin-right: 10px;
margin-left: 10px;
margin-top: auto;
margin-bottom: auto;
}

.event-photo {
    width: 290px;
    height: 430px;
}

.newsletter{
    font-size: 20px;
    margin: 10px;
}

input[type=text]{
    border: 5px solid white;
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-size: 16px;
    
}

input[type=button]{
    background-color: rgba(255,255,255,0.5);
    border: 5px solid white;
    padding: 7px 16px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    font-weight: bold;
}

input[type=checkbox]{
    margin-left: 25px;
}

table {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
    border: 5px solid white;
    background-color: cadetblue;
}

td {
    text-align: left;
    color: black;
}

th {
    text-align: center;
    color: white;
}

#tickets td {
text-align: center;
}

#repertoire td:hover {
    background-color: firebrick;
}

.icon {
    height: 4%;
    width: 4%;
}


#home {
margin-right: 85%;
}